<div class="show-reviews-container">
	<mat-card class="background" *ngFor="let review of reviews">
		<mat-card class ="review-card">
		
		

					<img class="image" src="{{review.user.image_url}}">

					<div class="data info">
						<p>{{review.user.email}}</p>
						<span class="rating">{{ review.rating }}/5 </span>
						<span class="star-generator" *ngFor="let x of [].constructor(review.rating)">
							<mat-icon class="stars">star</mat-icon>
						</span>
					</div>
			

					<div class="data comment">{{ review.comment }}</div>


	
			<ng-container *ngIf="canDelete(review)">
				<button color="primary" mat-raised-button (click)="onDelete(review)">Delete review</button>
			</ng-container>
		</mat-card>
	</mat-card>
</div>
