<ng-container *ngIf="layout$ | async as layout">
<div [class]="layout.isSmall ? 'mobile':'desktop'">
	<mat-drawer-container class="main-layout-drawer">


    <mat-drawer class="side-drawer" 
		[class]="layout.isSmall ? 'side-drawer mobile':'side-drawer desktop'"
		[opened]="!layout.isSmall" 
		[mode]="layout.isSmall ? 'over' : 'side'"
		[position]="layout.isSmall ? 'end' : 'start'" #drawer>

		<button *ngIf="layout.isSmall" class="close-btn" mat-icon-button (click)="drawer.close()"><mat-icon>close</mat-icon></button>

		<ng-container *ngIf="!layout.isSmall">
			<app-logo></app-logo>
		</ng-container>

      <app-sidenav [class]="!layout.isSmall ? 'desktop-sidenav' : 'mobile-sidenav'"></app-sidenav>

    </mat-drawer>


    <mat-drawer-content class="content">
			<header class="header" *ngIf="layout.isSmall">
				<app-logo></app-logo>
	
				<button mat-icon-button (click)="drawer.open()" ><mat-icon>menu</mat-icon></button>
			</header>
        <router-outlet  class="ruter"></router-outlet>
    </mat-drawer-content>


  </mat-drawer-container>
</div>



