.main-layout-drawer {
	height: 100%;
}

.side-drawer {
	min-width: 264px;
	padding: 32px 32px 56px;
}

.content {
	padding: 32px;
}

.header {
	margin-bottom: 32px;

	display: flex;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.desktop {
		padding: 0;
	}
}
