.email {
	margin-bottom: 5px;
}

.txt {
	margin-top: 15%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;

	align-items: center;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #ffffff;
}

.data {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;

	align-items: center;
	text-align: center;
	letter-spacing: 0.1px;

	color: #ffffff;
}

.dropzone {
	background: rgba(141, 92, 230, 0.15);

	border: 2px dashed #371687;
	box-sizing: border-box;
	border-radius: 24px;

	width: 500px;
	height: 500px;

	position: relative;

	left: 50%;

	transform: translate(-50%, -0%);
}

.drop-txt {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;

	color: #8d5ce6;

	position: relative;

	left: 50%;
	top: 50%;

	transform: translate(-32%, -50%);

	justify-content: center;

	align-items: center;
}

.custom-file-upload {
	cursor: pointer;
}
