<div class="background desktop">
<mat-card class="card">
	<app-logo class="logo"></app-logo>
	<form [formGroup]="loginFormGroup">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput type="email" formControlName="email" />
			<mat-error *ngIf="loginFormGroup.get('email')?.getError('required')">Email is required</mat-error>
			<mat-icon matPrefix>person</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" />
			<mat-error *ngIf="loginFormGroup.get('password')?.getError('required')">Password is required</mat-error>
			<mat-icon matPrefix>lock</mat-icon>
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="onLogin()" [disabled]="loginFormGroup.invalid">Log in</button>

		<p>Don’t have an account? <a [routerLink]="'/register'" >Register</a></p>
	</form>
</mat-card>
</div>


<div class="background mobile">
	<mat-card class="card">
		<app-logo class="logo"></app-logo>
		<form [formGroup]="loginFormGroup">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput type="email" formControlName="email" />
				<mat-error *ngIf="loginFormGroup.get('email')?.getError('required')">Email is required</mat-error>
				<mat-icon matPrefix>person</mat-icon>
			</mat-form-field>
	
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput type="password" formControlName="password" />
				<mat-error *ngIf="loginFormGroup.get('password')?.getError('required')">Password is required</mat-error>
				<mat-icon matPrefix>lock</mat-icon>
			</mat-form-field>
	
			<button mat-raised-button color="primary" (click)="onLogin()" [disabled]="loginFormGroup.invalid">Log in</button>
	
			<p>Don’t have an account? <a [routerLink]="'/register'" >Register</a></p>
		</form>
	</mat-card>
	</div>
